
h1
{
    margin-top: 5px;
    margin-bottom: 5px;
}

#container
{
    width: 920px;    
}

#topsection
{
    width: 100%;
    background: white;
}

#skiimage
{
    height: 75px;
    width: 920px;
}

#contentcolumn
{
    float: left;
    width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: white;
}

    #contentcolumn p
    {
        margin: 0;
    }

#lastPrg
{
    margin: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#leftcolumn
{
    float: left;
    background: #ccc;
    width: 180px;
}

#leftcolumnheader
{
    text-align: left;
    word-wrap: break-word;
    padding-left: 10px;
    padding-left: 10px;
    width: 130px;
}

#footer
{
    color: yellow;
    background: #99c;
    text-align: center;
    width: 900px;
    clear: left;
    padding : 6px;    
}

    #footer a
    {
        color: #FFFF80;
    }



.tablehead
{
    color: white;
    background-color: #003;
    color: #fff;
    table-layout: fixed;
    font-weight: bold;
    display: table-row;
    text-align: center;
    line-height: 10px;
    font-size: 14px;
    font-family: 'Times New Roman';    
}

.even
{
    display: table-row;
    text-align: left;
    background-color: #ccc;
    padding: 10px;
    word-wrap: break-word;
}

.odd
{
    display: table-row;
    text-align: left;
    background-color: #ddd;
    word-wrap: break-word;
}

.col
{
    display: table-cell;
    border: 2px solid white;
    padding: 10px;
}

